
@{
    ViewBag.Title = "Bảng Điều Khiển";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <h5>Lựa chọn chuyên mục bên cạnh để xem câu hỏi thuộc chuyên mục đó.</h5>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



